@model List<ArchiNestCoreMVCProject.Entities.Team>

@{
	int count = 0;
}

<section id="team" class="team section light-background">

	<!-- Section Title -->
	<div class="container section-title" data-aos="fade-up">
		<h2>Team</h2>
		<p>OUR TEAM</p>
	</div><!-- End Section Title -->

	<div class="container">

		<div class="row gy-5">

			@foreach (var item in Model)
			{
				count++;
				<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
					<div class="member">
						<div class="pic"><img src="@item.ImageUrl" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>@item.Name</h4>
							<span>@item.Field.FieldName</span>
							<div class="social">
								<a href=""><i class="bi bi-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
				if (count % 3 == 0)
				{

					<div class="w-100 mb-4"></div>
				}

				<!-- End Team Member -->
			}

		</div>
	</div>
</section>