<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="index.html">
				<i class="icon-grid menu-icon" style="font-size: 20px; vertical-align: middle;"></i>
				<span class="menu-title ms-2">Dashboard</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/AdminHome/Index">
				<i class="icon-grid mdi mdi-home" style="font-size: 20px; vertical-align: middle;"></i>
				<span class="menu-title ms-2">Home</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/AdminAbout/Index">
				<i class="icon-grid mdi mdi-account-search" style="font-size: 20px; vertical-align: middle;"></i>
				<span class="menu-title ms-2">About</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="collapse" href="#field" aria-expanded="false" aria-controls="field">
				<i class="icon-grid mdi mdi-lightbulb-outline" style="font-size: 20px; vertical-align: middle;"></i>
				<span class="menu-title ms-2">Field</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="field">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link" href="/AdminField/Index">Field List</a></li>
					<li class="nav-item"><a class="nav-link" href="/AdminField/Add">Add Field</a></li>
				</ul>

			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="collapse" href="#service" aria-expanded="false" aria-controls="service">
				<i class="icon-grid mdi mdi-book" style="font-size: 20px; vertical-align: middle;"></i>
				<span class="menu-title ms-2">Service</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="service">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"><a class="nav-link" href="/AdminService/Index">Service List</a></li>
					<li class="nav-item"><a class="nav-link" href="/AdminService/Add">Add Service</a></li>
				</ul>

			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/AdminPortfolio/Index">
				<i class="icon-grid mdi mdi-clipboard-check" style="font-size: 20px; vertical-align: middle;"></i>
				<span class="menu-title ms-2">Portfolio</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="collapse" href="#testimonial" aria-expanded="false" aria-controls="testimonial">
				<i class="icon-grid mdi mdi-account-multiple-outline" style="font-size: 20px; vertical-align: middle;"></i>
				<span class="menu-title ms-2">Testimonial</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="testimonial">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" href="/AdminTestimonial/Index">Testimonial List</a></li>
					<li class="nav-item"><a class="nav-link" href="/AdminTestimonial/Add">Add Testimonial</a></li>
				</ul>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="collapse" href="#team" aria-expanded="false" aria-controls="team">
				<i class="icon-grid mdi mdi-account-key" style="font-size: 20px; vertical-align: middle;"></i>
				<span class="menu-title ms-2">Team</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="team">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" href="/AdminTeam/Index">Team List</a></li>
					<li class="nav-item"> <a class="nav-link" href="/AdminTeam/Add">Add Member</a></li>
				</ul>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/AdminAddress/Index">
				<i class="icon-grid mdi mdi-map-marker-multiple" style="font-size: 20px; vertical-align: middle;"></i>
				<span class="menu-title ms-2">Address</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/AdminContact/Index">
				<i class="icon-grid mdi mdi-bell-ring" style="font-size: 20px; vertical-align: middle;"></i>
				<span class="menu-title ms-2">Contact</span>
			</a>
		</li>
	</ul>
</nav>

