@model ArchiNestCoreMVCProject.Entities.Services
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add New Service</h4>
            <form class="forms-sample" method="post" asp-action="Add" asp-controller="AdminService">

                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Title" asp-for="Title">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="Description" asp-for="Description">
                </div>

                <div class="form-group">
                    <label>Image URL</label>
                    <input type="text" class="form-control" placeholder="Image URL" asp-for="ImageUrl">
                </div>

                <button type="submit" class="btn btn-primary me-2">Add</button>
            </form>
        </div>
    </div>
</div>


