@model ArchiNestCoreMVCProject.Entities.Team
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Team Page</h4>
            <form class="forms-sample" method="post" asp-action="Update" asp-controller="AdminTeam">

                <input type="hidden" asp-for="TeamId" class="form-control" />

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name" asp-for="Name">
                </div>
                <div class="form-group">
                    <label>Field</label>
                    <input type="text" class="form-control" placeholder="Field" asp-for="Field.FieldName">
                </div>

                <div class="form-group">
                    <label>Image URL</label>
                    <input type="text" class="form-control" placeholder="Image URL" asp-for="ImageUrl">
                </div>

                <button type="submit" class="btn btn-primary me-2">Update</button>
            </form>
        </div>
    </div>
</div>

